{% extends "base.html" %} {% block content %}


<div class="container">
  <h1 class="title">Welcome</h1>

  <a href="{{ url_for('download', filename='flask_cheat_sheet.pdf') }}">Flask Cheet Sheet</a>
  <br>
  <a href="{{ url_for('download', filename='shiban_icon.gif') }}">Shiban's icon</a>
  <br>
  <a href="{{ url_for('download', filename='cat_img.JPG') }}">Cat Img</a>
  <br>
  <a href="{{ url_for('download', filename='Command_Prompt_cheatsheet.pdf') }}">Comand Cheet sheet</a>
  <br>
  <a href="{{ url_for('download', filename='sqllite_setup_64X.msi') }}">SQL Lite Setup64x</a>

</div>
{% endblock %}
